<h1> Welcome to Scooter Matt's Blog </h1>

We hope you find exactly what you're looking for in a place to read blogs.

<div class="container">
  {{#each model as |post|}}
    {{post-tile post=post update="update" destroyPost="destroyPost"}}
  {{/each}}
</div>

{{new-post save2="save3"}}

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
