<div class="head-text jumbotron">
  <h1><span class="glyphicon glyphicon-shopping-cart"></span>Welcome2<span class="scooter-matt">Scooter Matt's</span> Blog<span class="glyphicon glyphicon-heart"></span></h1>

  We hope you find exactly what you're looking for in a place to read blogs.
  <br>Categories:
  <a href="/Transportation">Transportation</a> | <a href="/Safety">Safety</a> | <a href="/Personal Hygiene">Personal Hygiene</a> | <a href="/Matt's Feelings">Matt's Feelings</a> | <a href="/personal">personal</a>
</div>
<div class="container">
  {{new-post save2="save3"}}
  <div class="container">
    {{post-tile posts=model destroyPost="destroyPost" update="update"}}
  </div>
</div>
